<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
    <title>Make Playlist With...</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="img/favicon.ico">
</head>
<body>
<header>
  
  <img src="img/icons8-m-50.png" alt="gazou">
</header>
  <h1>Search Spotify Artists</h1>
  {% block content %} {% endblock %}
<footer>
  <div>フッターだよ</div> 
  <a target="_blank" href="https://icons8.com/icon/111035/m"><"M</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>"></a>
</footer>
</body>
